@import '../base';

.downloadToast {
    background-color: #35393f;
    padding: 3.2rem;
    border-radius: 8px;

    position: absolute;
    bottom: 30px;
    right: 30px;

    width: 320px;
    z-index: 8;

    transition: transform 0.5s ease;
    transform: translateY(300px);
    opacity: 0;

    &.slideIn {
        opacity: 1;
        transform: translateY(0);
    }

    p {
        font-family: $font-sans-secondary;
        color: #c1c4cb;
        line-height: 1.5;
        margin-bottom: 2.4rem;
    }

    p + button {
        width: 100%;
    }
}
