@import 'styles/base';

.header {
	--gap: 3.6rem;

	background-color: $color-caviar;

	display: flex;
	align-items: center;
	gap: var(--gap);

	// prettier-ignore
	&.open {
		.hamburger {
			span { 
                transform-origin: 5.6px; 

                @include mobile {
                    transform-origin: 4px;
                }
            }

			span:first-child { transform: rotate(45deg); }
			span:last-child { transform: rotate(-45deg); }
			span:nth-child(2) { opacity: 0; }
		}
	}

	@include mobile {
		--gap: 2.4rem;
	}

	& > p {
		padding: 0.8rem 2.4rem 0.8rem 0;
		border-right: 1px solid $color-black-coral;

		@include tablet {
			display: none;
		}
	}
}

.hamburger {
	background-color: $color-midnight;
	padding: 3.6rem 2.4rem;

	span {
		background-color: $color-white;

		display: block;
		width: 3.6rem;
		height: 2px;

		transition: all 0.5s ease;

		&:not(:last-child) {
			margin-bottom: 0.6rem;
		}
	}

	// prettier-ignore
	&:hover {
		span:first-child { transform: rotate(0.5turn); }
		span:last-child { transform: rotate(-0.5turn); }
		span:nth-child(2) { opacity: 0; }
	}

	@include mobile {
		padding: 2.4rem 2rem;

		span {
			width: 3rem;
		}
	}
}

.documentInfo {
	display: flex;
	align-items: center;
	gap: 2rem;

	.documentName {
		label {
			display: block;
			font-size: 1.4rem;
			margin-bottom: 0.2rem;
			color: $color-deep-violet;

			@include mobile {
				display: none;
			}
		}

		input {
			font-size: 1.6rem;

			width: 100%;
			padding-block: 0.4rem;
			border-bottom: 1px solid transparent;

			transition: border 0.3s ease;

			&:hover,
			&:focus {
				border-bottom-color: $color-coral-red;
			}
		}

		@include mobile {
			width: 12rem;
		}
	}
}

.documentActions {
	--gap: 1.6rem;

	display: flex;
	align-items: center;
	gap: var(--gap);

	margin-inline: auto 2.4rem;

	@include mobile {
		--gap: 1.2rem;

		button:nth-child(2) {
			padding: 1.2rem 1.4rem;

			span {
				display: none;
			}
		}
	}
}
