@import '../base';

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .col1 {
        border-right: 2px solid var(--color-markdown-border);

        .colHeader button {
            display: none;

            // prettier-ignore
            @include mobile { display: block; }
        }
    }

    .col2 {
        @include mobile {
            display: none;
        }
    }

    &.previewOnly {
        .col1 {
            display: none;
        }

        .col2 {
            grid-column: 1/-1;

            @include mobile {
                display: block;
            }
        }
    }

    @include mobile {
        grid-template-columns: 1fr;
    }
}

.colHeader {
    background-color: var(--bg-markdown-header);
    padding: 0.8rem 2.4rem;
    height: 4.8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        color: #7c8187;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.6rem;
    }

    button {
        width: 3.6rem;
        height: 3.6rem;

        &:hover {
            background-color: #2b2d31;
        }
    }
}

.preview,
.editor {
    padding: 1.6rem 2.4rem;
    height: calc(100vh - 81.56px - 43.19px);
}

.editor {
    textarea {
        font-family: 'Roboto Mono', monospace;
        width: 100%;
        height: 100%;
        outline: none;
        border: none;
        background: transparent;
        color: var(--color-text-primary);
        line-height: 1.8;
        resize: none;

        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.preview {
    line-height: 1.8;
    font-family: $font-serif;

    color: var(--color-text-secondary);
    font-size: 1.6rem;

    overflow: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    /* STYLING MARKDOWN ELEMENTS */
    // prettier-ignore
    h1, h2, h3, h4, h5, h6 {
        color: var(--color-markdown-head-primary);
    }

    h1 {
        font-size: 3.6rem;
        margin-bottom: 1.6rem;
    }

    h2 {
        color: var(--color-markdown-head-secondary);
        font-weight: 300;
        font-size: 3.2rem;
        margin-bottom: 1.2rem;
    }

    h3 {
        font-size: 2.8rem;
        margin-bottom: 1.2rem;
        font-weight: 600;
    }

    h4 {
        font-size: 2.4rem;
        margin-bottom: 1.6rem;
        font-weight: 600;
    }

    h5 {
        font-size: 2rem;
        margin-bottom: 1.6rem;
        font-weight: 600;
    }

    h6 {
        font-size: 1.6rem;
        color: $color-accent;
        margin-bottom: 1.6rem;
        font-weight: 600;
    }

    p,
    ol,
    ul {
        margin-bottom: 2rem;
    }

    ul,
    ol {
        margin-left: 4.8rem;
        list-style: none;
    }

    ul {
        li {
            position: relative;

            &::before {
                content: '';
                top: 1.5rem;
                left: -2rem;
                position: absolute;
                width: 0.5rem;
                height: 0.5rem;
                background-color: $color-accent;
                border-radius: 100%;
            }
        }
    }

    ol {
        counter-reset: list;

        li {
            position: relative;

            &::before {
                counter-increment: list;
                content: counter(list) '.';
                position: absolute;
                top: 0;
                left: -2rem;
                color: $color-accent;
            }
        }
    }

    blockquote {
        background-color: var(--bg-secondary);
        padding: 2.4rem;
        border-radius: 6px;
        border-left: 5px solid $color-accent;
        font-weight: 500;
        color: var(--color-text-primary);
        margin-block: 0.8rem 2.4rem;

        p {
            margin-bottom: 0;
        }
    }

    pre {
        background-color: var(--bg-secondary);
        padding: 2.4rem;
        border-radius: 6px;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }

    img {
        width: 100%;
    }
}
