@import 'base';

:root {
	--bg-markdown: #{$color-white};
	--bg-secondary: #{$color-neutral-gray};
	--bg-markdown-header: #{$color-neutral-gray};
	--color-text-primary: #{$color-midnight};
	--color-text-secondary: #{$color-midnight};
	--color-markdown-border: #{$color-platinum};
	--color-markdown-head-primary: #{$color-midnight};
	--color-markdown-head-secondary: #{$color-midnight};
	--bg-toast: #{$color-platinum};
	--color-toast: #{$color-caviar};
	--bg-preview-hover: #{$color-platinum};
}

html[data-theme='dark'] {
	--bg-markdown: #{$color-dark-moon};
	--bg-secondary: #{$color-caviar};
	--bg-markdown-header: #{$color-inkwell};
	--color-text-primary: #{$color-pearl-blue};
	--color-text-secondary: #{$color-granite};
	--color-markdown-border: #{$color-midnight};
	--color-markdown-head-primary: #{$color-white};
	--color-markdown-head-secondary: #{$color-granite};
	--bg-toast: #{$color-midnight};
	--color-toast: #{$color-pearl-blue};
	--bg-preview-hover: #{$color-caviar};
}

html {
	box-sizing: border-box;
	font-size: 56.25%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	color: $color-white;
	font: 400 1.8rem $font-sans-primary;

	overflow: hidden;
}

#root {
	overflow: hidden;
}

input,
button,
textarea {
	font: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	color: inherit;
	background: transparent;
}

.title {
	font: 700 1.8rem/1.8 $font-sans-secondary;
	text-transform: uppercase;
	letter-spacing: 4.2px;
}

main {
	transition: $sidebar-transition;
	background-color: var(--bg-markdown);
	min-height: 100vh;

	&.collapse {
		transform: translateX(270px);
	}
}
